.sceneImage{
    float: left;
    margin-right: 20px;
}

.choices tw-expression tw-link{
    width: 20%;
    display: inline-block;
}

.choices tw-expression:nth-of-type(1){
    background-color: green;
}

.choices tw-expression:nth-of-type(1) tw-link{
    color: green;
}

.choices tw-expression:nth-of-type(2){
    background-color: blue;
}

.choices tw-expression:nth-of-type(2) tw-link{
    color: blue;
}

.choices tw-expression:nth-of-type(3){
    background-color: yellow;
}

.choices tw-expression:nth-of-type(3) tw-link{
    color: yellow;
}

.choices tw-expression:nth-of-type(4){
    background-color: red;
}

.choices tw-expression:nth-of-type(4) tw-link{
    color: red;
}

